body {
  margin: 3rem;
  overflow-x: hidden;

}

#main-title {
  font-size: 4rem;

  text-align: center;
}

.content {
  max-width: 55em;
}

h3 {
  font-size: 2rem;
}

img {
  border-radius: 0.25rem;
  border: 1px solid #000;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0);
  max-width: 90%;
}

.row {
  column-count: 3;
}

video {
  border-radius: 0.25rem;
  border: 1px solid #000;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0);
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;

  font-family: "Space Grotesk", sans-serif;
}

.p {
    padding: 1rem;
}

#topUwUnotme {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

#topUwUnotme a {
    color: #0066cc;

}

#topUwUnotme h2 {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: inherit;
    margin-bottom: -1rem;
}

/* .block {
border: 3px solid #000;
  border-radius: 3px;

  border-radius: 0.25rem;
  border: 1px solid #000;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0);
  padding: 1rem;
} */

/* mobile responsive */
@media (max-width: 768px) {
  body {
    margin: 1rem;
    overflow-x: hidden;
    
  }

  img {
    max-width: 90%;
  }

  .row {
    column-count: 1;
    width: 100vh;
  }

  .feedItem {
    max-width: 100%;
  }
}
